version: '3.9'

volumes:
  data-vol:
    name: ${DATA_VOL_NAME}
    driver: local
    driver_opts:
      type: ${VOL_TYPE}
      o: addr=${VOL_ADDR},${VOL_OPTS}
      device: ${DATA_VOL_DEVICE}

  dashboards-vol:
    name: ${DASHBOARDS_VOL_NAME}
    driver: local
    driver_opts:
      type: ${VOL_TYPE}
      o: addr=${VOL_ADDR},${VOL_OPTS}
      device: ${DASHBOARDS_VOL_DEVICE}
